html{
    font-family: 'Noto Sans KR', sans-serif;
}

.background{
    background: linear-gradient(135deg, #130417, #030511);
    width: 100%;
    height: 100%;
}

.circles{
    animation-name: circles_opacity;
    animation-duration: 3s;
}

.circle1{
    width: 30%;
    height: auto;
    position: absolute;
    top: 13%;
    left: 27%;
    mix-blend-mode: screen;
    animation-name: circle1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-timing-function: linear;
}

.circle1 .circle{
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
}

.circle2{
    width: 30%;
    height: auto;
    position: absolute;
    top: 13%;
    right: 27%;
    mix-blend-mode: screen;
    animation-name: circle2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-timing-function: linear;
}

.circle2 .circle{
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
}

.circle3{
    width: 30%;
    height: auto;
    position: absolute;
    top: 2%;
    left: 35%;
    mix-blend-mode: screen;
    animation-name: circle3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-timing-function: linear;
}

.budha{
    width: 28%;
    height: auto;
    position: absolute;
    top: 28%;
    left: 36%;
    z-index: 5;
    opacity: 0%;
    mix-blend-mode: darken;
    animation-name: budha_opacity;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-timing-function: linear
}

.mandala{
    width: 28%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 36%;
    z-index: 1;
    opacity: 0%;
    animation-name: mandala_opacity;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-timing-function: linear
}

.clouds{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    animation-name: clouds_move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}

.cloud1{
    width: 50%;
    height: auto;
    position: absolute;
    top: 54%;
    left: 15%;
    mix-blend-mode: multiply;
    z-index: 6;
    opacity: 50%;
    animation-name: cloud_opacity;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.cloud2{
    width: 40%;
    height: auto;
    position: absolute;
    top: 45%;
    right: 20%;
    mix-blend-mode: multiply;
    z-index: 4;
    opacity: 50%;
    animation-name: cloud_opacity;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.type1{
    width: 23%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 38.5%;
}

.type2{
    width: 20%;
    height: auto;
    position: absolute;
    top: 12%;
    left: 40%;
}

.info{
    width: 70%;
    height: auto;
    position: absolute;
    bottom: 11%;
    left: 15%;
    z-index: 10;
    opacity: 0;
    animation-name: info_opacity;
    animation-duration: 5s;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.info1 h2{
    font-size: 2.2em;
    font-weight: 700;
}

.info1 p{
    font-size: 1.3em;
}

.info1 h3{
    font-size: 1.7em;
    font-weight: 600;
}

.info1, .info2, .info3{
    width: 30%;
    margin-left: 3%;
    float: left;
    color: white;
}

.info .left{
    width: 12%;
    float: left;
}

.info .right{
    width: 75%;
    float: left;
}

.info .left p{
    font-size: 1.2em;
    line-height: 1.7em;
    font-weight: 700;
}

.info .left br{
    line-height: 2.0em;
}

.info .right p{
    font-size: 1.2em;
    line-height: 1.7em;
    font-weight: 400;
}

.info strong{
    font-size: 0.8em;
    font-weight: 600
}

@keyframes circles_opacity{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes circle1{
    from{
        top: 13%;
        left: 27%;
    }

    to{
        top: 10%;
        left: 33%;
    }
}

@keyframes circle2{
    from{
        top: 13%;
        right: 27%;
    }

    to{
        top: 10%;
        right: 33%;
    }
}

@keyframes circle3{
    from{
        top: 2%;
        left: 35%;
    }

    to{
        top: 10%;
        left: 35%;
    }
}

@keyframes budha_opacity{
    from{
        opacity: 0%;
    }

    to{
        opacity: 80%;
    }
}

@keyframes mandala_opacity{
    from{
        opacity: 0%;
    }

    to{
        opacity: 10%;
    }
}

@keyframes clouds_move{
    form{
        top: 0;
    }

    to{
        top: -2%;
    }
}

@keyframes cloud_opacity{
    from{
        opacity: 0%;
    }

    to{
        opacity: 50%;
    }
}

@keyframes info_opacity{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}